<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
        <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= location.longitude %></td>
    <td><%= location.latitude %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Location', root_url %>

</li>
